<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName opencart.{{ avi_gslb.dns_configs.0.domain_name }}
    ServerAlias www.opencart.{{ avi_gslb.dns_configs.0.domain_name }}
    DocumentRoot /var/www/opencart.{{ avi_gslb.dns_configs.0.domain_name }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/opencart.{{ avi_gslb.dns_configs.0.domain_name }}>
          Options -Indexes
    </Directory>

    <IfModule mod_dir.c>
        DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
    </IfModule>

</VirtualHost>
