<VirtualHost *:{{ http_port }}>
    ServerAdmin webmaster@localhost
    ServerName {{ aviVsOpencart }}.{{ dns.domain.name }}
    ServerAlias www.{{ aviVsOpencart }}.{{ dns.domain.name }}
    DocumentRoot /var/www/{{ aviVsOpencart }}.{{ dns.domain.name }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/{{ aviVsOpencart }}.{{ dns.domain.name }}>
          Options -Indexes
    </Directory>

    <IfModule mod_dir.c>
        DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
    </IfModule>

</VirtualHost>
